/*
File: pacific.css

Assignment: External CSS 

Written by: Max Tighe, 
    Computer Science Student at UMass Lowell
    contact: max_tighe@student.uml.edu

Date created: 5/29/2023

Date updated: 6/03/2023

Description: A CSS file used to format the site
	layout of index.html without making any changes
	to the html file itself.
*/

header, hgroup, nav, footer, figure, figcaption, aside, section, article {
	display: block;
}
body {
	background-image: url("ptrbackground.jpg");
	background-repeat:repeat-x;
	background-color: #00569f;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
}

/* uses negative space to ensure the 
nav menu's space remains consistent with
the webpage's scale. */
#wrapper{
	background-color: skyblue;
	width: 80%;
	min-width: 600px;
	margin:auto;
	height: 80%;
}

#content{
	background-color: white;
	text-align: left;

	margin-left: 25%;
	padding-right: 5%;

	padding-top: 1%;
}

.resort{
	font-weight: bold;
	
	color: #3399CC;
}

header{
	background-image: url("sunset.jpg");
	background-repeat: no-repeat;
	background-position: 100%;
	background-color: #000033;
}

/* allows for text to wrap around
images when possible */
img{
	float: left;
	margin-right: 5%;
}


nav{
	float:left;
	width: 25%;

	margin-right: 10%;

	padding-bottom: 60%;
}

nav ul {
	font-size: 1.2em;
	font-weight: bold;

	text-decoration: none;
	text-align: left;

	list-style: none;

	padding-left: 10%;
}

nav a{
	text-decoration: none;
	color: #000033;
}

nav a:hover {
	color: #FFFFFF;
}

/* only lists outside of the nav
menu may be bulleted */
ul{
	list-style-image: url("marker.gif");

	list-style-position: inside;

	align-items: left;
	justify-items: left;
}

h1 {
	margin-bottom: 0;
	padding: 10px;
	
	color:white;
	font-weight: bolder;
}
h2 {
	color: #3399CC;
}
h1,
h2 {
	font-family: Georgia, "Times New Roman", serif;
}
#contact {
	font-size: 90%;

	padding-left: 5%;
}
dt {
	color: #000033;
}

footer {
	font-family: Georgia, "Times New Roman", serif;
	font-style: italic;

	background-color: white;
			
	margin-left: 25%;
	padding-left: 5%;
	padding-top: 5%;
	padding-bottom: 5%;
}

